//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 28 16:44:19 2017
//! **************************************************************************

SCHEMATIC START;
COMP "data" LOCATE = SITE "G13" LEVEL 1;
COMP "led<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "led<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "led<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "led<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "clock" LOCATE = SITE "G14" LEVEL 1;
PIN clock_pin<0> = BEL "clock" PINNAME PAD;
PIN "clock_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "clock2" LOCATE = SITE "C9" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clock2_BUFGP/IBUFG" BEL "clock2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

