NET "clock2" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "clock" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "data" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "clock" CLOCK_DEDICATED_ROUTE = FALSE;
NET "led[3]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "led[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "led[1]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;
NET "led[0]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 8 ;